@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#stadium-card {
  color: whitesmoke;
  background-color: rgb(150, 34, 34);
  border-radius: 50px;
}

#stadium {
  background-color: rgb(231, 231, 241);
}
