@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#stadium-card {
  color: whitesmoke;
  background-color: rgb(9, 9, 97);
  // background-color: rgb(206, 20, 20);
  // background-color: rgb(150, 34, 34);
  border-radius: 100px;
}

#stadium {
  background-color: rgb(231, 231, 241);
}

.top-bar {
  color: black;
  background-color: rgb(9, 9, 97);
}

.menu {
  background-color: rgb(9, 9, 97);
}

.new-visit-form {
  text-align: left;
}

.form-container {
  background-color: whitesmoke;
}

.landing-page {
  background-image: url(https://mlb-ballpark-visit-tracker.s3.us-east-2.amazonaws.com/dodgerStadium1920x1080.jpg);
  height: 100vh;
  margin: -30px 0px 0px 0px;
  padding: 0px;
  // backdrop-filter: blur(3px);
  // opacity: 0.2;
  color: red;
  // -webkit-text-stroke: 2px white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page-link {
  color: red;
}
